<div class="article-list">

  {% for article in articles %}

    <article class="article">

      {% if article.hasCover() %}
        {{ article.getCoverTag({ size: 'h150', class: 'cover', link: path('article_show', { slug: article.url }) })|raw }}
      {% endif %}

      <a href="{{ path('article_show', { slug: article.url }) }}">
        <h2>{{ article.title }}</h2>
      </a>

      <p>
        de {{ article.authors }}
      </p>

      <p>
        {% if article.type_id == 1 %}
          Papier
        {% elseif article.type_id == 2 %}
          Numérique
        {% else %}
          Goodies
        {% endif %}
        {% if article.has('price') %}
          - {{ article.price|price('EUR')|raw }}
        {% else %}
          - Gratuit
        {% endif %}
      </p>

      {% if not article.isPublished() and article.has('pubdate') %}
        <p>À paraître le {{ article.pubdate|date }} </p>
      {% endif %}

      <p>
        {% if article.isSoldOut() %}
      <p class="alert alert-warning text-center">Épuisé</p>
    {% elseif not article.has('price') and article.get('type_id') == 2 %}
      <a href="/pages/log_myebooks?add={{ article.id }}" class="btn btn-primary btn-block" title="Télécharger gratuitement"><i class="fa fa-download"></i> Télécharger</a>
    {% elseif article.isPublished() %}
      <a href="/pages/cart?add=article&amp;id={{ article.id }}" class="btn btn-primary add_to_cart event" data-type="article" data-id="{{ article.id }}"><i class="fa fa-shopping-cart"></i> Ajouter au panier</a>
    {% elseif article.isPreorderable() %}
      <a href="/pages/cart?add=article&amp;id={{ article.id }}" class="btn btn-primary add_to_cart event" data-type="article" data-id="{{ article.id }}"><i class="fa fa-shopping-cart"></i> Précommander</a>
      {% endif %}

      <a href="{{ path('article_show', { slug: article.url }) }}" class="btn btn-info" title="En savoir plus"><i class="fa fa-info-circle"></i></a>

      <a data-wish="{{ article.id }}" class="btn btn-default event" title="Ajouter à mes envies">
        {% if article.isInWishList() %}
          <i class="fa fa-heart red"></i>
        {% else %}
          <i class="fa fa-heart-o"></i>
        {% endif %}
      </a>
      </p>
    </article>

  {% endfor %}

</div>

{% include 'AppBundle:Article:_list_pagination.html.twig' %}
